.body {
    color: #FFFFFF;
}

.bg-image {
    background-image: url("../images/Cover.jpg");
    height: 324px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-bottom: 90px;
}
.bg-image p {
    position: absolute;
    top: 146px;
    left: 139px;
    color: white;
    width: 195px;
    height: 39px;
    font-size: 42px;
    font-weight: bold;
}

.image {
    position: absolute;
    margin-left: 139px;
    margin-top: 16px;
}


.list {
    position: absolute;
    color: white;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    width: 564px;
    padding-top: 16px;
    margin-left: 764px;

}





.box1 {
    width: 444px;
    margin-left: 139px;
}